<% form_for(@search) do |s| %>



<div class="field" >
 <%= f.label :name %><br>
 <%= f.text_field :name %>
 <%= f.hidden_field :id %>
</div>


<div class="actions">
 <%= f.submit %>
</div>



<% end %>
