<iframe
class="map"
frameborder="0" style="border:0"
src=https://www.google.com/maps/embed/v1/search?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @search.map_query %>&zoom=12>
</iframe>

<div class="map-cover"></div>

<div class="info-box">
  <div class="info-box-content">
  <h3><p>Welcome to ShutterBuddy!</p><br>
    <p>Please enter the city you want to visit in the search box below:</p><br>
    </h3>


  <%= form_tag searches_path, method: :post do %>
    <%= text_field_tag :city, params[:city], id: "search-bar", class: "controls", placeholder: "Search Box" %>
  <% end %>
</div>
</div>
