<iframe
class="map"
frameborder="0" style="border:0"
src=https://www.google.com/maps/embed/v1/search?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @search.map_query %>&zoom=12>
</iframe>

<div class="info-box">
  <h3><p>Welcome to ShutterBuddy!</p><br>
    <p>We're enabling you to see the world from your own living room. Just enter the city you want to visit in the search box below,
      then choose the photos you like best.</p><br>
    <p>We'll make an album that you can share with your friends! </p></h3>


  <%= form_tag searches_path, method: :post do %>
    <%= text_field_tag :city, params[:city], id: "search-bar", class: "controls", placeholder: "Search Box" %>
  <% end %>

</div>
