<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-62181524-2', 'auto');
ga('send', 'pageview');

</script>

<iframe
class="map"
frameborder="0" style="border:0"
src=https://www.google.com/maps/embed/v1/search?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @search.map_query %>&zoom=12>
</iframe>

<div class="map-cover"></div>

<div class="info-box">
  <div class="info-box-content">
  <h2>Welcome to ShutterBuddy!</h2>
    <h3>Please enter the city you want to visit in the search box below:</h3>



  <%= form_tag searches_path, method: :post do %>
    <%= text_field_tag :city, params[:city], id: "search-bar", class: "controls", placeholder: "Search Box" %>
  <% end %>
</div>
</div>
