<h1>New Photos</h1>


<%= form_tag create_photos_search_path do %>
  <% @images.each do |photo| %>
    <label>
      <%= check_box_tag "photos[]", photo.url %>
      <%= image_tag photo.url  %>
    </label>
  <% end %>
<p>  <%= submit_tag "Submit" %> </p>


<% end %>
