<a class="header-link" href="/searches/new">Try it yourself!</a>

<br>
<br>
<br>
<br>
<br>
<br>
<% @search.photos.each do |p| %>
  <%= image_tag p.url %>
  <a href="https://www.flickr.com/photos/<%= p.attribution %>/" target="_blank">
    <%= p.attribution %>
  </a>

<% end %>
