<a class="header-link" href="/searches/new">Try it yourself!</a>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="photo-display">
  <div class="photo-share">
    <% @search.photos.each do |p| %>
      <%= image_tag p.url %>
      <a href="https://www.flickr.com/photos/<%= p.path_alias %>/" target="_blank">
        <div class="username"><%= p.attribution %></div>
      </a>
    <% end%>
  </div>
</div>
