<a class="header-link" href="/searches/new">Try it yourself!</a>

<br>
<br>
<br>
<br>
<div class="photo-display">
  <% @search.photos.each do |p| %>
    <div class="photo-share">
      <%= image_tag p.url %>
      <div class="username">
        <a href="https://www.flickr.com/photos/<%= p.path_alias %>/" target="_blank">
          <%= p.attribution %>
        </a>
      </div>
    </div>
  <% end %>
</div>
