<a class="header-link" href="/searches/new">Search Again</a>

<div class="verbage">

<h1>Here are the photos you wanted to share:</h1>
  <p><div class="copyLink">Here are the photos you wanted to share! Copy this link to share with friends and family: <%= "https://shutterbuddy.herokuapp.com/share/#{@search.id}" %>

<p>Happy travels!</p>

<% @search.photos.each do |ph| %>
  <%= image_tag ph.url %>
  <a href="https://www.flickr.com/photos/<%= ph.attribution %>/">
    <%= ph.attribution %>
  </a>


<% end %>

</p>
</div>
</div>


<li><a href="#"></a></li>


<!-- "https://localhost:3000/share/#{@search.id}" -->
