<a class="header-link" href="/searches/new">Search Again</a>

<div class="verbage">

<h1>Here are the photos you wanted to share:</h1>
  <div class="copyLink">Here are the photos you wanted to share! Copy this link to share with friends and family: <%= share_search_path(@search.id) %>

<p>Happy travels!</p>

<% @search.photos.each do |ph| %>
  <%= image_tag ph.url %>
  <%= ph.attribution %>

<% end %>

</div>
</div>
