<br>
<br>
<br>

<div class="photo-display">
  <h3 class="copyLink">Here are the photos you wanted to share! Copy this link to share with friends and family:</h3>

  <h3><%= link_to "https://shutterbuddy.herokuapp.com/share/#{@search.id}", share_path, target: "_blank" %></h3>

  <h3>Happy travels!</h3>
  <% @search.photos.each do |ph| %>
    <div class="photo-share">
      <%= image_tag ph.url %>
      <div class="username">
        <a href="https://www.flickr.com/photos/<%= ph.path_alias %>/" target="_blank">
          <%= ph.attribution %>
        </a>
      </div>
    </div>
  <% end %>

  <h3 class="newsearchlink"><a href="/searches/new">Start over with a new city</a></h3>
</div>

<br>
<br>
