<div class="verbage">


<h1>Here are the photos you wanted to share:</h1>
<p>You can post the web address on your social media sites or you can email the link. </p>
<p>Happy travels!</p>

<% @search.photos.each do |ph| %>
  <%= image_tag ph.url %>

<% end %>
<h3><%= link_to "Start Search Again", new_search_path %></h3>

</div>
