/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body {
  margin-top: 50px;
  font-family: sans-serif;
}

h1 {
  font-size: 30px;
  font-family: sans-serif;

}

h2 {
  font-weight: 200;
}

h3 {
  padding-top: 0px;
  font-family: sans-serif;
  font-weight: 200;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  border: 0;

}

.map-cover {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header {
  z-index: 10;
  box-sizing: border-box;
  background: #4D90FE;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid darkgrey;
  padding-left: 20px;
  h1 a {
    color: white;
    font-family: 'Amaranth', sans-serif;
    font-size: 50px;
    font-weight: 300;
  }
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}


a.header-link:visited {
  color: white;
}

.header-link {
  position: fixed;
  right: 10px;
  top: 50px;
  font-family: sans-serif;
  padding-top: 10px;
  padding-right: 20px;
  z-index: 25;

}

.main-content {
  margin: 50px;
  position: relative;
  z-index: 1;
  font-family: sans-serif;
}

.info-box {
  color: black;
  box-sizing: border-box;
  background: transparent;
  padding: 0em;
  position: fixed;
  top: 120px;
  right: 30px;
  bottom: 30px;
  overflow: auto;
  margin: 0;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 100;
  width: 450px;

  input[type=search-bar] {
    background-color: #fff;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-left: 4px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    z-index: 10;
  }

  p {
    width: 93%;
    margin: 0 auto;
  }

  h2, h3 {
    padding-left: 0em;
  }

  input[type=submit] {
    padding: 1em;
    background-color: #4D90FE;
    color: white;
    border: none;
    border-radius: .2em;
  }

  input[type=checkbox] {
    margin-top: 0px;
  }

}

.button {
  color: #4D90FE ;
  float: left;
  padding: 10px;
  width: 70px;
  height: 50px;
  font-size: 10px;
}

img {
  padding: 5px;
  border: 1px solid grey;
  margin: 10px 10px 0px 10px;
}

.landmark-options {
  .option-label {
    display: inline-block;
    width: 110px;
    color: #AAA;
  }

  .option-choice {
    display: inline-block;
    width: 60px;
    color: #4D90FE;
  }

  .landmark + .landmark {
    margin-top: .5em;
  }

  .weather-options, .time-of-day-options {
    display: none;
    margin-left: 45px;
    font-size: 18px;
    margin-top: 3px;
  }
  input:checked ~ .weather-options {
    display: block;
  }
  input:checked ~ .time-of-day-options {
    display: block;
  }
}

.info-box-content {
  background: white;
  padding: 1em;
  font: sans-serif;
  font-size: 18px;
  box-shadow: 0 0 1em black;

}


.photo-options{
  text-align: justify;
  padding: 0px 50px;

  .photo-box {
    display: inline-block;
    margin-right: 10px;
    text-align: right;

    img {
      width: auto;
      height: 175px;
    }

    img.checked {
      background-color: #4D90FE;
      box-shadow: 0 0 10px #4D90FE;
    }

    input[type=checkbox] {
      display: none;
    }

    p {
      margin: 0;
    }

    .attribution {
      font-family: sans-serif;
      font-size: 10px;
      padding-right: 10px;
      a {
        color: grey;
      }
    }
  }

  .clear {
    clear: left;
  }

  .footer {
    margin-top: 2em;

    h3 {
      display: inline;
    }

    input[type=submit] {
      padding: 0.5em 1em;
      background-color: #4D90FE;
      color: white;
      border: none;
      border-radius: .2em;
      margin-right: 1em;
      font-family: sans-serif;
      font-size: 18px;
    }
  }
}

.error {
  color: #F19A18;
  font-weight: bold;
  font-size: 16px;
}


.photo-display {
  float: left;
  margin-right: 10px;
  text-align: justify;
  padding: 0px 50px;

  img {

    width: auto;
    height: 250px;

    p {
      margin-top: 0;
      margin-top: -1.5em;
    }
  }

  .photo-share {
    display: inline-block;
    text-align: right;
  }

  .username {
    font-family: sans-serif;
    font-size: 10px;
    padding-right: 10px;
    a {
      color: grey;
    }
  }
}



.clear {
  clear: left;
  input[type=submit] {

    background-color: #4D90FE;
    color: white;
    border: none;
    border-radius: .2em;
  }

}
