/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  h3 {
    padding-top: 40px;
    font-family: futura;
  }

  .map { position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      overflow: hidden;
      height: 800px;
      z-index: 0;
      margin-top: -150px;
      border: 0;

  }

  // <div style="width: 100%; overflow: hidden; height: 300px;">
  //   <iframe
  //     src="https://www.google.com/maps/embed/v1/search?key=<%= ENV['GOOGLE_KEY'] %>&q=<%= @search.map_query %>&zoom=12>"
  //     width="100%"
  //     height="100%"
  //     frameborder="0"
  //     class = "map"
  //     style="border:0; margin-top: -150px;">
  //   </iframe>
  // </div> -->


.main-content {
  position: relative;
  z-index: 1;
  font-family: futura;
}

.info-box {
  box-sizing: border-box;
  background: white;
  padding: 1em;
  position: fixed;
  top: 30px;
  right: 30px;
  bottom: 30px;
  overflow: auto;
  margin: 0;


}
