/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-top: 50px;
}

h3 {
  padding-top: 0px;
  font-family: futura;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  height: 900px;
  z-index: 0;
  margin-top: -150px;
  border: 0;

}

.header {
  color: white;
  z-index: 10;
  box-sizing: border-box;
  background: #4D90FE;
  padding: 1em;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid darkgrey;
  margin: 0;
  font-family: futura;
  font-size: 20px;
  font-weight: 100;
}

.header-link {
  position: fixed;
  right: 20px;
  top: 50px;
  font-family: futura;
  color: white;
  z-index: 25;

}

.main-content {
  margin: 50px;
  position: relative;
  z-index: 1;
  font-family: futura;
}

.info-box {
  color: black;
  box-sizing: border-box;
  border: 1px solid darkgrey;
  background: white;
  padding: 1em;
  position: fixed;
  top: 120px;
  right: 30px;
  bottom: 30px;
  overflow: auto;
  margin: 0;
  font-family: futura;
  font-size: 15px;
  font-weight: 100;
  width: 450px;

  p {
    width: 93%;
    margin: 0 auto;
  }

  input {
    padding: 1em;
    background-color: #4D90FE;
    color: white;
    border: none;
    border-radius: .2em;
  }

}
