<!DOCTYPE html>
<html>
<head>
  <div class="header"><h1>ShutterBuddy</h1></div>
  <a class="header-link" href="/searches/new">Search Again</a>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<%= yield %>

</body>
</html>
